.timeline{
    width: 90vw;
    margin: auto;
    height: 299px;
    position: relative; 
    display: flex;
}

.stepper {
    margin-left: 200px;
    width: 80vw;
}

.step-item {
    width: 50vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
    position: relative;
    /* background-color: rgb(209, 182, 182); */
}

.tag{
    background-color: gray;
    width: 80px;
    text-align: end;
    padding: 5px;
    color: white;
    border-radius: 5px;
    position: relative;
    right: 42px; 
}

.stop{
    width: 2.5rem;
    height: 2.5rem;
    z-index: 10;
    position: relative;
    background-color: #ee5244;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -18px;
    top: 0;
}

.stop-empty{
    width: 0.7rem;
    height: 0.7rem;
    z-index: 10;
    border: 2px solid rgba(0,0,0,.14);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white ;
    position: absolute;
    left: -6px;
    top: 0;
}

.step-item{
    content: '';
    background-color: gray; 
    width: 4px;
    height: 100%; 
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    transition: background-color 0.3s; 
}
.complete{
    background-color: orange    ; 
}



.codeIcon{
    transform: rotate(90deg);
}


/* text */

.task{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 100px;
    margin-top: 1.2rem;
}

.container{
    width: 400px;
}

.text-li{
    list-style: none;
    display: flex;
    align-items: center;

}

.icon{
    margin-right: 9px;
}

.text-li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.text-li svg {
    vertical-align: middle;
    margin-right: 5px;
}

.video{
    width: 440px;
    height: 440px;
    position: relative;
    left: 222px;
    z-index: -2;
}
video{
    width: 380px;
    height: 380px;
}